<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"http://thecookiezen.com/blog/cookie-policy","theme":"light-bottom"};
</script>

<script type="text/javascript" src="{{ root_url }}/javascripts/cookieconsent.latest.min.js"></script>
<!-- End Cookie Consent plugin -->
